.blog {
  padding: 6rem 0;
  /* background-color: var(--bg-black); */
  background: transparent;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 2rem;
}

.blogSection {
  margin-bottom: 2rem;
}

.sectionTitle {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2rem;
  color:#f5c46b;
  letter-spacing: -0.02em;
  /* background: linear-gradient(135deg, #FFFFFF 0%, rgba(255, 255, 255, 0.8) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; */
}

.sectionTitle:hover {
  transform: translateY(-2px);
  color: #ffd992;

  text-shadow:
    0 0 8px rgba(245, 201, 122, 0.35),
    0 0 18px rgba(245, 201, 122, 0.2);
}


.blogGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.blogCard {
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  padding: 2.5rem;
  transition: all 0.3s ease;
}

.blogCard:hover {
  border-color: #f5c46b;
  background-color: rgba(255, 0, 0, 0.05);
  transform: translateY(-5px);
  box-shadow: 0 10px 40px #f5c46b;
}

.blogTitle {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: var(--text-white);
  line-height: 1.3;
}

.blogExcerpt {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 1.5rem;
  line-height: 1.6;
}

.blogDate {
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.6);
}

@media (max-width: 1024px) {
  .blogGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {

  .blogSection {
    margin-bottom: 4rem;
  }

  .sectionTitle {
    font-size: 2.5rem;
    margin-bottom: 3rem;
  }

  .blogGrid {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }

  .blogCard {
    padding: 2rem 1.5rem;
  }
}

@media (max-width: 480px) {
  .sectionTitle {
    font-size: 2rem;
  }

  .blogCard {
    padding: 1.5rem 1rem;
  }

  .blogTitle {
    font-size: 1.25rem;
  }
}